apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: OT_OPS_STACK_NAME
  labels:
    app: clickhouse
    tier: storage
spec:
  storageClassName: data-backend
  volumeName: OT_OPS_STACK_NAME
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 64Gi
